.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/bower_components/
/vendor/
composer.lock
composer.phar

www.pid
